@import "tailwindcss";

@font-face {
  font-family: "Kalameh";
  src: url("/fonts/kalameh/Kalameh-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("/fonts/kalameh/Kalameh-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("/fonts/kalameh/Kalameh-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("/fonts/kalameh/Kalameh-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("/fonts/kalameh/Kalameh-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("/fonts/kalameh/Kalameh-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("/fonts/kalameh/Kalameh-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("/fonts/kalameh/Kalameh-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Kalameh";
  src: url("/fonts/kalameh/Kalameh-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Kalameh", Arial, sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
